<!DOCTYPE html>
<html>
<head>
  <title>Reddit Jr.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Home', root_path %>

  <% if current_user %>
    <%= link_to 'Submit New Post', new_post_path %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', get_login_path %>
  <% end %>

  <%= yield %>

</body>
</html>
